/* RouteList.css */
.route-list-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Default to one card per row */
  grid-gap: 20px; /* Space between grid items */
  width: 100%; /* Make the grid container take the full width */
  padding: 20px;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

@media (min-width: 768px) {
  .route-list-container {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Switch to two cards per row on larger screens */
  }
}
