.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.route-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.route-item h2 {
  margin-bottom: 10px;
}

.route-item ul {
  list-style-type: none;
  padding: 0;
}

.route-item ul li {
  margin: 5px 0;
}
.route-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.route-item h2 {
  margin-bottom: 10px;
}

.route-item p {
  margin: 5px 0;
}
li {
  transition: all 0.5s ease;
}

li.new-data {
  background-color: yellow;
}
